@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");

[v-cloak] {
  display: none;
}

body,
html {
  font-family: "Heebo", sans-serif;
  height: 100%;
}


#demo {
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.location {
  text-align: end;
}
